/.DS_Store
/.idea
/1000_Companies.csv
/ADVANCEDPYTHON.py
/Assignment.py
/Casa_toluca.csv
/Contiunation of Induction to Python.py
/CreationofModules.py
/DATA ANALYSIS WITH PYTHON LEARN.py
/DSDD..sas
/Data Science learn2.py
/Data Science2i.py
/Data science Learn1.py
/Data.py
/GHG_Mexico_1990_2010.csv
/House_Price_Toluca(Mexico)_Dataset.csv
/INTRODUCTION TO NUMPY.py
/INTRODUCTION TO PHYTHON.py
/PRINTOUT WORK.pdf
/Python for Data Analysis _ data wrangling with Pandas- NumPy- and IPython.pdf
/Screenshot 2025-04-26 at 12.36.33.png
/Screenshot 2025-05-09 at 11.59.11.png
/Screenshot 2025-05-11 at 11.26.42.png
/Screenshot 2025-05-11 at 11.27.18.png
/Screenshot 2025-05-11 at 11.28.18.png
/Screenshot 2025-08-22 at 22.21.54.png
/TRAINING WORK.py
/Work.py
/__pycache__
/buenos-aires-real-estate-1.csv
/buenos-aires-real-estate-2.csv
/buenos-aires-test-features.csv
/buenos_aires_real_estate_1.zip
/data
/mexico-city-real-estate-2.csv.zip
/mexico-city-real-estate-3.csv.zip
/mexico-city-real-estate-4.csv.zip
/mexico-city-real-estate-5.csv.zip
/mexico_city_real_estate_1.csv
/untitled folder